<div class="col-md-4 offset-md-4" style="margin-top: 40px;">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="text" name="nombre" [(ngModel)]="persona.nombre" placeholder="nombre" class="form-control"
            autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="cantidad" [(ngModel)]="persona.cantidad" placeholder="cantidad"
            class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="dateregister" [(ngModel)]="persona.dateregister" placeholder="yyy-mm-dd"
            class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="usuarioregister" [(ngModel)]="persona.usuarioregister" placeholder="usuario"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="">Fecha Modificacion</label>
          <input type="text" name="dateedit" [(ngModel)]="persona.dateedit" placeholder="yyy-mm-dd" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Usuario de modificacion</label>
          <input type="text" name="usuarioedit" [(ngModel)]="persona.usuarioedit" class="form-control">
        </div>
        <button class="btn btn-info btn-block" (click)="updatePerson()">
          Actualizar
        </button>
      </form>
    </div>
  </div>
</div>