<div class="container">
  <br>
  <h1>Lista Inventario</h1>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Delete/Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.dateregister}}</td>
            <td>{{producto.usuarioregister}}</td>
            <td>
              <a [routerLink]="['/person/edit', producto.id]" class="btn btn-info btn-block">Editar</a>
              <a class="btn btn-danger btn-block" (click)="deletePerson(producto.id)">Borrar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
