<div class="col-md-4 offset-md-4" style="margin-top: 40px;">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="text" name="nombre" [(ngModel)]="persona.nombre" placeholder="nombre" class="form-control"
            autofocus>
        </div>
        <div class="form-group">
          <input type="text" name="cantidad" [(ngModel)]="persona.cantidad" placeholder="cantidad" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="dateregister" [(ngModel)]="persona.dateregister" placeholder="yyyy-mm-dd"
            class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="usuarioregister" [(ngModel)]="persona.usuarioregister" placeholder="usuario"
            class="form-control">
        </div>
        <button class="btn btn-success btn-block" (click)="savePerson()">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>